#mySVG{
  width: 100%;
}

.scoreboards{
  margin-top: 10%;
}

#left_side, #right_side{
  border-radius: 5px;
  border-color: #000;
}

#left_side{
  border-style: solid;
}

#right_side{
  border-style: hidden;
}
