body{
  width: 98%;
}

#mySVG{
  width: 100%;
  height: 100%;
}

#game_area{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.scoreboards{
  margin-top: 10%;
}

#quit{
  position: relative;
  z-index: 2;
  top: -1000%;
  cursor: pointer;
}

#left_side, #right_side{
  border-radius: 5px;
  border-style: solid;
}

#left_side{
  border-color: #000;
}

#right_side{
  border-color: #fff;
}

#screen{
  padding: 0;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: auto;
  margin-bottom: auto;
}
